.header {
    border-bottom: 1px solid #ddd;
}

.header__nav-form {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.logout-button {
    background: #f4f4f4;
    color: #e7ddd4;
    border: 1px solid #e7ddd4;
    border-radius: 3px;
    padding: 6px 16px;
    font-size: 14px;
    font-family: "Roboto Slab", serif;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    width: auto;
    height: auto;
}

.admin__content {
    max-width: 1230px;
    margin: 40px auto;
    font-family: sans-serif;
    background-color: #fff;
    text-align: center;
}

.admin__heading h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Roboto Slab", serif;
    color: #998b7d;
}

.admin-search {
    width: 100%;
    margin-bottom: 20px;
}

.admin-search__form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.admin-search__input {
    width: 300px;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #e5dfd9;
    background: #f4f4f4;
    box-sizing: border-box;
    color: #998b7d;

}

.select-wrap {
    position: relative;
    display: inline-block;
}

.select-wrap::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #998b7d;
    font-size: 12px;
}

.admin-search__select--gender {
    width: 120px;
    height: 40px;
    padding: 0 30px 0 10px;
    font-size: 14px;
    border: 1px solid #e5dfd9;
    background: #f4f4f4;
    color: #998b7d;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.admin-search__select--category {
    width: 220px;
    height: 40px;
    padding: 0 30px 0 10px;
    font-size: 14px;
    border: 1px solid #e5dfd9;
    background: #f4f4f4;
    box-sizing: border-box;
    color: #998b7d;
    appearance: none;
}



.admin-search__date {
    width: 160px;
    color: #998b7d;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #e5dfd9;
    background: #f4f4f4;
    box-sizing: border-box;
}

.admin-search__button {
    padding: 10px;
    width: 80px;
    height: 40px;
    border: none;
    background: #82756b;
    color: #fff;
    cursor: pointer;
}

.admin-search__reset {
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    background: #d9c6b5;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.admin-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.admin-controls__button {
    color: #998b7d;
    height: 40px;
}

.admin-controls__pagination {
    display: flex;
    justify-content: center;
    gap: 0;
}

.admin-controls__pagination span>span {
    border: none !important;
    padding: 0 !important;
}

.admin-controls__pagination li>a,
.admin-controls__pagination li>span {
    display: block;
    border: 1px solid #ccc;
    padding: 8px 12px;
    margin: 0;
}

nav[role="navigation"]>div:first-child a:first-child,
nav[role="navigation"]>div:first-child span:first-child {
    display: none;
}

nav[role="navigation"]>div:first-child a:last-child,
nav[role="navigation"]>div:first-child span:last-child {
    display: none;
}

nav[role="navigation"] p {
    display: none;
}

nav[role="navigation"] .relative a,
nav[role="navigation"] .relative span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e7ddd4;
    padding: 6px 12px;
    color: #998b7d;
    text-decoration: none;
}

nav[role="navigation"] svg {
    width: 12px;
    height: 18px;
}

nav[role="navigation"] span[aria-current="page"] {
    background: #998b7d;
    border-color: #998b7d;
    border: 1px solid #e7ddd4;
    width: 20px;
    height: 30px;
}

nav[role="navigation"] span[aria-current="page"]>span {
    color: #fff;
}

.pagination a,
.pagination span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.admin-table {
    border: 1px solid #ddd;

}

.admin-table__inner {
    width: 100%;
    text-align: center;
}

.admin-table__row {
    width: 100%;
    height: 60px;
    background: #82756b;
    color: #fff;
    font-weight: bold;
}

.admin-table__text {
    color: #998b7d;
    background: #fff;
    font-weight: normal;
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.admin-table__button {
    padding: 6px 12px;
    background: #fcfcfc;
    color: #e7ddd4;
    border: 1px solid #e7ddd4;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.admin-table__text:hover {
    background: #f0f0f0;
    cursor: pointer;
}

.admin-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 80%;
    background: #fff;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: #998b7d;
    border: 1px solid #ddd;
    max-width: 600px;
    transform: translate(-50%, -50%);
}

.admin-modal.is-active {
    display: block;
}

.admin-modal__content {
    background: #fff;
    padding: 30px;
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
}

.admin-modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #998b7d;
    cursor: pointer;
}

.info-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 12px;
    column-gap: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
}

.admin-modal__label {
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}

.admin-modal__text {
    text-align: left;
    word-break: break-all;
}

.admin-modal__delete {
    background: #ba370d;
    color: #fff;
    border: none;
    width: 70px;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
}