.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__logo {
    color: #998b7d;
    text-decoration: none;
    font-size: 28px;
    font-family: "Roboto Slab", serif;
}

.header__nav {
    position: absolute;
    right: 24px;
    width: 100px;
    display: inline-block;
}

.header__nav-link {
    background: #f4f4f4;
    color: #e7ddd4;
    border: 1px solid #e7ddd4;
    border-radius: 3px;
    padding: 6px 16px;
    font-size: 14px;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    cursor: pointer;
}


h2 {
    font-weight: normal;
}

.form {
    width: 800px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #e5dfd9;
    border-radius: 3px;
    padding: 50px;
}

.form__inner {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.form__group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.form__group-title {
    margin-bottom: 10px;
    color: #998b7d;
    font-size: 20px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    height: 40px;
    border: none;
    appearance: none;
    background: #f4f4f4;
    color: #998b7d;
    width: 100%;
    box-sizing: border-box;
}

.form__button {
    margin: 30px auto;
    text-align: center;
}
