.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    text-align: center;
    color: #998b7d;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
    text-align: left;
}

.confirm-table__header {
    padding: 15px 40px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background: #baa899;
    color: #fff;
    font-weight: normal;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: #998b7d;
    padding: 15px 40px;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
    height: 50px;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
    height: 140px;
}

.form__button-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}


.form__button-submit {
    padding: 10px;
    height: 40px;
    border: none;
    background: #82756b;
    color: #fff;
    cursor: pointer;
    width: 120px;
    font-size: 16px;
}


.form__button-back button {
    background: none;
    border: none;
    padding: 0;
    color: #998b7d;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
    appearance: none;
    height: 40px;
}