main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.watermark-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    white-space: nowrap;
}

.watermark-text {
    font-family: "Roboto Slab", serif;
    font-size: 300px;
    color: #f9f8f8;
}

.thanks__content {
    position: relative;
    text-align: center;
    z-index: 10;
}

.thanks__text {
    font-size: 30px;
    font-weight: bold;
    color: #9a8b7c;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    height: 40px;
    border: none;
    background: #82756b;
    color: #fff;
    cursor: pointer;
    width: 120px;
    font-size: 16px;
    appearance: none;
    text-decoration: none;
}